#heart,
#image2,
#image {
  cursor: pointer;
}
#image {
  width: 170px;
  height: 110px;
  margin-left: 35px;
}
#text {
  height: 30px;
  width: 230px;
  margin-top: 5px;
  border-radius: 14px;
  padding-left: 8px;
}
.nav {
  /* border: 2px solid red; */
  height: 100px;
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  /* width: 100%; */
}
#heart {
  height: 30px;
  padding-top: 8px;
}
/* .a1 {
  border: 2px solid red;
} */
.nav2 h4 {
  margin-bottom: 25px;
  color: red;
  cursor: pointer;
}
#login {
  padding-top: 0px;
}
.nav2 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 55px;
  margin-left: 220px;
  /* border: 2px solid red; */
}
.nav2 a {
  padding-top: 20px;
  text-decoration: none;
  color: grey;
  cursor: pointer;
}
#image2 {
  height: 40px;
  /* padding-top: 8px; */
}
/*  Card Styles started here */
#main-div {
  /* border: 2px solid red; */
  display: flex;
}
.mid2 {
  /* border: 2px solid red; */
}
#container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  /* margin: auto; */
  margin-left: 100px;
}
.mid {
  width: 20%;
}
#container img {
  width: 80%;
  box-sizing: border-box;
}
.mid2 h1 {
  margin-left: 60px;
}
